<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ef_guang.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,266},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>ef_ico_last.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,283},{28,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,38}}</string>
                <key>sourceSize</key>
                <string>{28,38}</string>
            </dict>
            <key>ef_ico_zhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,243},{39,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,38}}</string>
                <key>sourceSize</key>
                <string>{39,38}</string>
            </dict>
            <key>ef_mjzx_gang.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,545},{116,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,108}}</string>
                <key>sourceSize</key>
                <string>{116,108}</string>
            </dict>
            <key>ef_sun_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,2},{234,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,192}}</string>
                <key>sourceSize</key>
                <string>{234,192}</string>
            </dict>
            <key>ef_txt_gang.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,100},{128,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,145}}</string>
                <key>sourceSize</key>
                <string>{128,145}</string>
            </dict>
            <key>ef_txt_hu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{120,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,136}}</string>
                <key>sourceSize</key>
                <string>{120,136}</string>
            </dict>
            <key>ef_txt_mahjong_hh.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,595},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>ef_txt_mahjong_xx.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,545},{50,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,48}}</string>
                <key>sourceSize</key>
                <string>{50,48}</string>
            </dict>
            <key>ef_txt_pao.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,685},{108,102}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{108,102}}</string>
                <key>sourceSize</key>
                <string>{112,108}</string>
            </dict>
            <key>ef_txt_peng.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,247},{143,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,126}}</string>
                <key>sourceSize</key>
                <string>{143,126}</string>
            </dict>
            <key>ef_txt_zimo.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,100},{199,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,141}}</string>
                <key>sourceSize</key>
                <string>{199,141}</string>
            </dict>
            <key>ef_txts_an.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,608},{92,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,112}}</string>
                <key>sourceSize</key>
                <string>{92,112}</string>
            </dict>
            <key>ef_txts_cheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,702},{106,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,110}}</string>
                <key>sourceSize</key>
                <string>{106,110}</string>
            </dict>
            <key>ef_txts_chi.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,328},{116,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,112}}</string>
                <key>sourceSize</key>
                <string>{116,112}</string>
            </dict>
            <key>ef_txts_dao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,914},{98,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,108}}</string>
                <key>sourceSize</key>
                <string>{98,108}</string>
            </dict>
            <key>ef_txts_dzjd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{340,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,102}}</string>
                <key>sourceSize</key>
                <string>{340,102}</string>
            </dict>
            <key>ef_txts_er.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,556},{120,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,102}}</string>
                <key>sourceSize</key>
                <string>{120,102}</string>
            </dict>
            <key>ef_txts_fei.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,818},{106,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,96}}</string>
                <key>sourceSize</key>
                <string>{106,96}</string>
            </dict>
            <key>ef_txts_fqrz.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{332,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,96}}</string>
                <key>sourceSize</key>
                <string>{332,96}</string>
            </dict>
            <key>ef_txts_gang.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,545},{116,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,108}}</string>
                <key>sourceSize</key>
                <string>{116,108}</string>
            </dict>
            <key>ef_txts_gu.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,432},{102,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,122}}</string>
                <key>sourceSize</key>
                <string>{102,122}</string>
            </dict>
            <key>ef_txts_hou.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,467},{98,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,107}}</string>
                <key>sourceSize</key>
                <string>{98,107}</string>
            </dict>
            <key>ef_txts_hu.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,842},{62,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,68}}</string>
                <key>sourceSize</key>
                <string>{62,68}</string>
            </dict>
            <key>ef_txts_hua.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,642},{96,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,116}}</string>
                <key>sourceSize</key>
                <string>{96,116}</string>
            </dict>
            <key>ef_txts_huang.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,576},{92,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,112}}</string>
                <key>sourceSize</key>
                <string>{92,112}</string>
            </dict>
            <key>ef_txts_jian.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,316},{126,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,114}}</string>
                <key>sourceSize</key>
                <string>{126,114}</string>
            </dict>
            <key>ef_txts_ju.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,106},{156,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,165}}</string>
                <key>sourceSize</key>
                <string>{156,165}</string>
            </dict>
            <key>ef_txts_kai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{162,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,162}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>ef_txts_lai.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,821},{94,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,108}}</string>
                <key>sourceSize</key>
                <string>{94,108}</string>
            </dict>
            <key>ef_txts_liang.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,484},{90,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,120}}</string>
                <key>sourceSize</key>
                <string>{90,120}</string>
            </dict>
            <key>ef_txts_liuju.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,196},{174,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,118}}</string>
                <key>sourceSize</key>
                <string>{174,118}</string>
            </dict>
            <key>ef_txts_lost.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,243},{161,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,112}}</string>
                <key>sourceSize</key>
                <string>{161,112}</string>
            </dict>
            <key>ef_txts_ming.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,707},{94,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,112}}</string>
                <key>sourceSize</key>
                <string>{94,112}</string>
            </dict>
            <key>ef_txts_pai.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,264},{124,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,142}}</string>
                <key>sourceSize</key>
                <string>{124,142}</string>
            </dict>
            <key>ef_txts_pi.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,487},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>ef_txts_san.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,252},{119,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,109}}</string>
                <key>sourceSize</key>
                <string>{119,109}</string>
            </dict>
            <key>ef_txts_si.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,916},{103,95}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{103,95}}</string>
                <key>sourceSize</key>
                <string>{103,109}</string>
            </dict>
            <key>ef_txts_ting.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,762},{58,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,68}}</string>
                <key>sourceSize</key>
                <string>{58,68}</string>
            </dict>
            <key>ef_txts_wai.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,392},{104,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,122}}</string>
                <key>sourceSize</key>
                <string>{104,122}</string>
            </dict>
            <key>ef_txts_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{166,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,110}}</string>
                <key>sourceSize</key>
                <string>{166,110}</string>
            </dict>
            <key>ef_txts_ying.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,435},{120,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,108}}</string>
                <key>sourceSize</key>
                <string>{120,108}</string>
            </dict>
            <key>ef_txts_zhang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,810},{102,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,109}}</string>
                <key>sourceSize</key>
                <string>{102,109}</string>
            </dict>
            <key>ef_txts_zhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,670},{106,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,110}}</string>
                <key>sourceSize</key>
                <string>{106,110}</string>
            </dict>
            <key>ef_txts_zheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,357},{76,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,124}}</string>
                <key>sourceSize</key>
                <string>{76,124}</string>
            </dict>
            <key>ef_txts_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,504},{102,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,118}}</string>
                <key>sourceSize</key>
                <string>{102,118}</string>
            </dict>
            <key>ef_txts_zi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,655},{62,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,112}}</string>
                <key>sourceSize</key>
                <string>{62,112}</string>
            </dict>
            <key>ef_txts_zui.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,357},{103,108}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{103,108}}</string>
                <key>sourceSize</key>
                <string>{105,112}</string>
            </dict>
            <key>ef_xing.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,313},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>eff_txts_chao.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,604},{104,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,116}}</string>
                <key>sourceSize</key>
                <string>{104,116}</string>
            </dict>
            <key>eff_txts_chong.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,536},{120,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,104}}</string>
                <key>sourceSize</key>
                <string>{120,104}</string>
            </dict>
            <key>eff_txts_da.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,914},{96,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,108}}</string>
                <key>sourceSize</key>
                <string>{96,108}</string>
            </dict>
            <key>eff_txts_dian.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,778},{100,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,110}}</string>
                <key>sourceSize</key>
                <string>{100,110}</string>
            </dict>
            <key>eff_txts_hei.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,916},{98,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,104}}</string>
                <key>sourceSize</key>
                <string>{98,104}</string>
            </dict>
            <key>eff_txts_hu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,719},{100,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,110}}</string>
                <key>sourceSize</key>
                <string>{100,110}</string>
            </dict>
            <key>eff_txts_huan.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,917},{104,104}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{104,104}}</string>
                <key>sourceSize</key>
                <string>{114,116}</string>
            </dict>
            <key>eff_txts_hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,747},{96,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,86}}</string>
                <key>sourceSize</key>
                <string>{96,86}</string>
            </dict>
            <key>eff_txts_lian.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,917},{104,106}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{104,106}}</string>
                <key>sourceSize</key>
                <string>{114,116}</string>
            </dict>
            <key>eff_txts_men.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,390},{92,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,122}}</string>
                <key>sourceSize</key>
                <string>{92,122}</string>
            </dict>
            <key>eff_txts_mo.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,373},{110,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,112}}</string>
                <key>sourceSize</key>
                <string>{110,112}</string>
            </dict>
            <key>eff_txts_peng.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,498},{120,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,104}}</string>
                <key>sourceSize</key>
                <string>{120,104}</string>
            </dict>
            <key>eff_txts_piao.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,2},{126,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,108}}</string>
                <key>sourceSize</key>
                <string>{126,108}</string>
            </dict>
            <key>eff_txts_qaing.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,599},{112,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,106}}</string>
                <key>sourceSize</key>
                <string>{112,106}</string>
            </dict>
            <key>eff_txts_ruan.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,660},{100,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,112}}</string>
                <key>sourceSize</key>
                <string>{100,112}</string>
            </dict>
            <key>eff_txts_tian.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,710},{110,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,106}}</string>
                <key>sourceSize</key>
                <string>{110,106}</string>
            </dict>
            <key>eff_txts_tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,567},{106,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,116}}</string>
                <key>sourceSize</key>
                <string>{106,116}</string>
            </dict>
            <key>eff_txts_xiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,789},{108,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,94}}</string>
                <key>sourceSize</key>
                <string>{108,94}</string>
            </dict>
            <key>eff_txts_xiaox.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,130},{108,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,120}}</string>
                <key>sourceSize</key>
                <string>{108,120}</string>
            </dict>
            <key>eff_txts_zhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,740},{100,106}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{100,106}}</string>
                <key>sourceSize</key>
                <string>{110,116}</string>
            </dict>
            <key>eff_txts_zuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,446},{120,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,108}}</string>
                <key>sourceSize</key>
                <string>{120,108}</string>
            </dict>
            <key>qf_eff_dan.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,655},{78,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,90}}</string>
                <key>sourceSize</key>
                <string>{78,90}</string>
            </dict>
            <key>qf_eff_k.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,196},{60,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,68}}</string>
                <key>sourceSize</key>
                <string>{60,68}</string>
            </dict>
            <key>qf_eff_shi.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,914},{68,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,74}}</string>
                <key>sourceSize</key>
                <string>{68,74}</string>
            </dict>
            <key>qf_sun_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,2},{234,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,192}}</string>
                <key>sourceSize</key>
                <string>{234,192}</string>
            </dict>
            <key>qf_txt_wang.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,842},{74,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,70}}</string>
                <key>sourceSize</key>
                <string>{74,70}</string>
            </dict>
            <key>qf_txt_wu.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,845},{74,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,70}}</string>
                <key>sourceSize</key>
                <string>{74,70}</string>
            </dict>
            <key>qf_txt_zha.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,916},{74,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,82}}</string>
                <key>sourceSize</key>
                <string>{74,82}</string>
            </dict>
            <key>qf_xing.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,313},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>飞.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,390},{46,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{46,44}}</string>
                <key>sourceSize</key>
                <string>{54,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_projectx.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8363ba0b95b4c4c059946f96513418ba$</string>
            <key>textureFileName</key>
            <string>eff_projectx.png</string>
        </dict>
    </dict>
</plist>
