<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_dodge0.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,136},{107,132}}</string>
                <key>offset</key>
                <string>{10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,2},{107,132}}</string>
                <key>sourceSize</key>
                <string>{129,150}</string>
            </dict>
            <key>eff_dodge1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{115,146}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{115,146}}</string>
                <key>sourceSize</key>
                <string>{129,150}</string>
            </dict>
            <key>eff_dodge2.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,298},{105,138}}</string>
                <key>offset</key>
                <string>{-11,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{105,138}}</string>
                <key>sourceSize</key>
                <string>{129,150}</string>
            </dict>
            <key>eff_dodge3.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,404},{101,132}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,9},{101,132}}</string>
                <key>sourceSize</key>
                <string>{129,150}</string>
            </dict>
            <key>eff_dodge4.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,2},{107,132}}</string>
                <key>offset</key>
                <string>{-11,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{107,132}}</string>
                <key>sourceSize</key>
                <string>{129,150}</string>
            </dict>
            <key>eff_dodge5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{115,146}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{115,146}}</string>
                <key>sourceSize</key>
                <string>{129,150}</string>
            </dict>
            <key>eff_dodge6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{105,138}}</string>
                <key>offset</key>
                <string>{11,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,5},{105,138}}</string>
                <key>sourceSize</key>
                <string>{129,150}</string>
            </dict>
            <key>eff_dodge7.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,270},{101,132}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,9},{101,132}}</string>
                <key>sourceSize</key>
                <string>{129,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_dodge.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fb9ad7580b6818085463e96019d3723a$</string>
            <key>textureFileName</key>
            <string>eff_dodge.png</string>
        </dict>
    </dict>
</plist>
